/* Div jiska class="login" hai */
.form {
    border: 5px solid black;
    padding: 25px;
    width: 300px;
    background-color: white;
    align-items: center;
    border-radius: 25px;
    /* from 22 - 25 (bring page in centre) */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form h1{
    text-align: center;

}

/* Inputs */
.form input {
    width: 100%;
    padding: 8px;  
     /* box ke ander space dega */
    margin: 8px 0 15px 0;
    box-sizing: border-box;
}

/* Button */
.btn {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #444;
}

/* Link */
.form a {
    text-decoration: none;
    color: blue;
}



.table {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff;
}


/* Table styling */
.table table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

.table th {
    background-color: #f2f2f2;
}

/* Action link */
.g_btn {
    background-color: green;
    color: white;
    padding: 8px 10px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: 500;
}

.r_btn {
    background-color: red;
    color: white;
    padding: 8px 10px;
    border-radius: 7px;
    text-decoration: none;
    font-weight: 500;
}

.table h3{
    color: green;
    padding: 10px;
}

.h_btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}