<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="form">
        <h1>Register From</h1>
        <form action="/register" method="POST">

            <label for="user">User ID</label><br>
            <input id="user" type="text" name="user_name"><br>

            <label for="email">Email ID</label><br>
            <input id="email" type="email" name="email"><br>

            <label for="pass">Password</label><br>
            <input id="pass" type="password" name="pwd"><br>

            <input type="submit" class="btn" value="Register">
        </form>
        <p>Already have an Account? <a href="/login">Login Now</a></p>
    </div>
</body>
</html>